body {
    margin: 0;
    overflow: hidden;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    position: relative;
    width: 100%;
    height: 100%;
}

.bubble {
    position: absolute;
    font-size: 1.5em;
    color: #e91e63;
    animation: float 10s infinite, sway 5s infinite alternate;
    opacity: 0;
}

@keyframes float {
    0% {
        bottom: -50px;
        opacity: 0;
    }
    10%, 90% {
        opacity: 1;
    }
    100% {
        bottom: 100%;
        opacity: 0;
    }
}

@keyframes sway {
    0% {
        transform: translateX(-30px);
    }
    100% {
        transform: translateX(30px);
    }
}
